<!-- development version, includes helpful console warnings -->
{% load static %}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
<link rel="stylesheet" href="{% static 'css/base.css' %}"/>
<!DOCTYPE html>


<html lang="en">
    <title>Testing Vue</title>
  <body>

<div id="app" v-cloak>
    <div class="widget"> TU BEDZIE JAKIES LOGO CZY NAZWA</div>

  <div class="widget" v-if="errorStr">
    Sorry, but the following error
    occurred: {{errorStr}}
  </div>

  <div class="widget" v-if="gettingLocation">
    <i>Getting your location...</i>
  </div>

  <div class="widget" v-if="location">
    Your location data is [[ location.coords.latitude ]], [[ location.coords.longitude]]
  </div>

    <div class="widget" v-if="place">
        Najbliższa placówka to [[place]], znajduje się w odległości [[distance]]


    </div>
    <div class="widget">
        Czy to ptak? Czy to samolot? Nie, tu będzie wykresik


    </div>

</div>

    <script type="text/javascript">
     const app = new Vue({
  el:'#app', delimiters: ['[[', ']]'],
  data:{
    location:null,
    gettingLocation: false,
    errorStr:null,
    place:null,
    distance:null,
  },
  created() {
    //do we support geolocation
    if(!("geolocation" in navigator)) {
      this.errorStr = 'Geolocation is not available.';
      return;
    }

    this.gettingLocation = true;
    // get position
    navigator.geolocation.getCurrentPosition(pos => {
      this.gettingLocation = false;
      this.location = pos;
      console.log(pos)

     const req = JSON.stringify({x:pos.coords.latitude, y:pos.coords.longitude})


      axios
        .post('https://kolejki.herokuapp.com/', req)
        .then(response => {
            console.log(response)
            this.place = response.data.place_name
            this.distance = response.data.distance

    }, err => {
      this.gettingLocation = false;
      this.errorStr = err.message;
    })
    // Make axios CALL

        })



  }
})
    </script>

  </body>
</html>